@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

@-webkit-keyframes 4everrotate {
	-webkit-transform: rotate(360deg);
}


.shake:hover,
.shake:focus {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake {
	display:inline-block;
}

body.index {
	background-image: url("njtinspace.png");
	background-repeat: no-repeat;
	background-position: center top;
}

body.stuff {
	background-image: url("olivia.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

body.seinfeld {
	background-image: url("me.jpg");
	background-repeat: no-repeat;
	background-position: center top;
}

p {
   text-align: center;
   color: white;
}

p.black {
   color: black;
}

head {
   background-color: blue;
}

span {
   color: yellow;
	-webkit-transition-timing-function: linear;
        -webkit-transition: width 1.2s, height 1.2s, 
	-webkit-transform 1.2s;
    transition-timing-function: linear;
	-webkit-animation-name: 4everrotate;
	-webkit-animation-iteration-count: infinite;
}

span:hover {
   color: white;
-webkit-transform:rotate(720deg);
}

a {
        display: inline;
        color: coral;
	padding: 20px 20px;
	text-decoration: none;
}

a:hover {
        color: lightblue;
//        background-color: black;
}

img {
	-webkit-transition-timing-function: linear;
	-webkit-transition: width 1.2s, height 1.2s, -webkit-transform 
1.2s;
    transition-timing-function: linear;
}

img.venmo:hover {
	width: 786px;
	height: 149px;
//	-webkit-transform:rotate(360deg);
}

img.smiley:hover {
//	width: 300px;
//	height: 300px;
	background-color: transparent;
        -webkit-transform:rotate(720deg);
}

a img.catface:hover {
//	width: 300px;
//	height: 300px;
	background-color: transparent;
	-webkit-transform:rotate(720deg);
}

a.catface:hover, a.smiley:hover {
	background-color: transparent;
}
